@model KarateKlub.Web.Areas.ModulSekretar.Models.VrsteLicenciIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Vrste licenci";
    ViewBag.Title = "Vrste licenci";
    int seminarId = (int)ViewData["seminarId"];

}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
       .poravnanje2 {
        width: 200px;
        margin-left:5px;
        display:inline-block;
    }
  
</style>
<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "UpravljanjeSeminarima", new {seminarId=seminarId}, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na prikaz podataka seminara" })

</div>
<br />
<br />

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaVrsteOpreme">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Naziv</th>
                                      
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (VrstaLicencePodaci x in Model.vrsteLicenci)
                                    {

                                        <tr id="rowVrstaId_@x.Id">
                                            <td>@x.Naziv</td>
                                           
                                            
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">

                                              
                                                    @using (Ajax.BeginForm("Uredi", "VrsteLicenci", new { vrstaId = x.Id,seminarId }, new AjaxOptions { UpdateTargetId = "formaUrediVrstu" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediVrstu" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PovrdiBrisanjeVrste(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijVrstaId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />
                    @using (Ajax.BeginForm("Dodaj", "VrsteLicenci",new {seminarId=seminarId }, new AjaxOptions { UpdateTargetId = "formaDodajVrstu" }))
                    {

                        <div style="text-align:center;">
                            <button type="submit" class="btn-lg btn btn-primary" title="Dodaj vrstu licence" data-toggle="modal" data-target="#modalDodajVrstu" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span> Dodaj vrstu</button>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#tabelaVrsteOpreme').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [1],
                'orderable': false
            },
            {
                'targets': [0, 1],
                'width': '70%'
            }
            ]


        })

    });
</script>


<div id="modalUrediVrstu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka vrste licence</h4>
            </div>

            <div class="modal-body" id="formaUrediVrstu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajVrstu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Nova vrsta licence</h4>
            </div>

            <div class="modal-body" id="formaDodajVrstu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeVrste">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši vrstu licence</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati vrstu licence? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiVrstu()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalDodajVrstu').on('hidden.bs.modal', function () { $('#formaDodajVrstu').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalUrediVrstu').on('hidden.bs.modal', function () { $('#formaUrediVrstu').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    var PovrdiBrisanjeVrste = function (Id) {

        $("#sakrijVrstaId").val(Id);
        $("#modalPorukaZaBrisanjeVrste").modal('show');

    }

    var ObrisiVrstu = function () {

        $("#divUcitavanje").show();

        var vrstaId = $("#sakrijVrstaId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/VrsteLicenci/Obrisi",
            data: { vrstaId: vrstaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeVrste").modal("hide");
                $("#rowVrstaId_" + vrstaId).remove();
                location.reload(true);
            }

        })

    }


</script>



