@model KarateKlub.Web.Areas.ModulBlagajnik.Models.SaveziUrediVM
@using KarateKlub.Web.Areas.ModulBlagajnik.Models
@{
    ViewBag.PageTitle = "Uređivanje podataka saveza";
    ViewBag.Title = "Uređivanje pdoataka saveza";
    Layout = null;

}

<style>
    #PoravnanjeKontrola {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>



@using (Html.BeginForm("SpremiIzmjenuSaveza", "Savezi", FormMethod.Post, new { style = "width:400px;", id = "formaUrediSavez" }))
{
    @Html.HiddenFor(Model=>Model.Id)
    <div id="PoravnanjeKontrola">
        <div class="form-group" style="width:auto;">
            <label>Naziv: </label>
            @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Naziv)
            @Html.ValidationMessage("NazivError", new { id = "NazivError" })

        </div>
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>

}


<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">

    document.getElementById("Naziv").onblur = ValidirajNaziv;
    function Validiraj() {


        var validna = true;
        if (ValidirajNaziv() == false)
            validna = false;


        return validna;
    }



    function ValidirajNaziv() {

        var valid = true;
        var element = document.getElementById("Naziv");
        var error = document.getElementById("NazivError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Naziv je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }



</script>


