@model KarateKlub.Web.Areas.ModulSekretar.Models.SaveziIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Savezi";
    ViewBag.Title = "Savezi";


}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
       .poravnanje2 {
        width: 200px;
        margin-left:5px;
        display:inline-block;
    }
  
</style>
<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "UpravljanjeRegistracijama", new {}, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na prikaz registracija" })

</div>
<br />
<br />

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaSavezi">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Naziv</th>
                                      
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SaveziPodaci x in Model.savezi)
                                    {

                                        <tr id="rowSavezId_@x.Id">
                                            <td>@x.Naziv</td>
                                           
                                            
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">

                                              
                                                    @using (Ajax.BeginForm("Uredi", "Savezi", new { savezId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUrediSavez" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediSavez" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeSaveza(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijSavezId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />
                    @using (Ajax.BeginForm("Dodaj", "Savezi", new AjaxOptions { UpdateTargetId = "formaDodajSavez" }))
                    {

                        <div style="text-align:center;">
                            <button type="submit" class="btn-lg btn btn-primary" title="Dodaj savez" data-toggle="modal" data-target="#modalDodajSavez" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span> Dodaj savez</button>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#tabelaSavezi').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [1],
                'orderable': false
            },
            {
                'targets': [0, 1],
                'width': '70%'
            }
            ]


        })

    });
</script>


<div id="modalUrediSavez" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka saveza</h4>
            </div>

            <div class="modal-body" id="formaUrediSavez">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajSavez" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Novi savez</h4>
            </div>

            <div class="modal-body" id="formaDodajSavez">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeSaveza">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši savez</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati savez? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiSavez()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalDodajSavez').on('hidden.bs.modal', function () { $('#formaDodajSavez').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalUrediSavez').on('hidden.bs.modal', function () { $('#formaUrediSavez').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    var PotvrdiBrisanjeSaveza = function (Id) {

        $("#sakrijSavezId").val(Id);
        $("#modalPorukaZaBrisanjeSaveza").modal('show');

    }

    var ObrisiSavez = function () {

        $("#divUcitavanje").show();

        var savezId = $("#sakrijSavezId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/Savezi/Obrisi",
            data: { savezId: savezId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeSaveza").modal("hide");
                $("#rowSavezId_" + savezId).remove();
                location.reload(true);
            }

        })

    }


</script>



