@model KarateKlub.Web.Areas.ModulSekretar.Models.SjedniceUpravnogOdboraDetaljiVM
@using KarateKlub.Web.Areas.ModulSekretar.Models

@{
 
    ViewBag.Title ="Detalji sjednice upravnog odbora održane"+"-"+Model.sjednica.DatumOdrzavanja.ToString("dd.MM.yyyy");

    ViewBag.PageTitle = "Detalji sjednice";
    int brojTaba = (int)ViewData["tab"];

}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
    .poravanjePodatakaSjednice {
        margin-left: 50px;
        margin-top: 5px;
    }
   
</style>


<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "UpravljanjeUpravnimOdborom", new {aktivnost=0,brojTaba=2}, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na sjednice upravnog odbora" })


</div>
<br />
<br />


<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <ul class="nav nav-tabs nav-justified">

                <li id="prisustvaClanovaUpravnogOdbora">
                    <a id="prisustva" href="#prisustvaClanovaUpravnogOdboraTab" data-toggle="tab">Prisutni članovi upravnog odbora</a>
                </li>
                <li id="odlukeUpravnogOdbora">
                    <a id="odluke" href="#odlukeUpravnogOdboraTab" data-toggle="tab">Donesene odluke</a>
                </li>

            </ul>
            <div class="tab-content">

                <div id="prisustvaClanovaUpravnogOdboraTab">

                    @Html.Action("Index2", "PrisustvaNaSjednicamaUpravnogOdbora",new {sjednicaId=Model.sjednicaId })


                </div>

                <div id="odlukeUpravnogOdboraTab">

                    @Html.Action("Index", "OdlukeUpravnogOdbora",new {sjednicaId=Model.sjednicaId})

                </div>
            </div>

        </div>

    </div>
</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>



<script>
   if (@brojTaba==1)
    {
       var prisustvaClanovaUpravnogOdbora = document.getElementById("prisustvaClanovaUpravnogOdbora");
       prisustvaClanovaUpravnogOdbora.classList.add("active");
       var prisustvaClanovaUpravnogOdboraTab = document.getElementById("prisustvaClanovaUpravnogOdboraTab");
       prisustvaClanovaUpravnogOdboraTab.classList.add("tab-pane");
       prisustvaClanovaUpravnogOdboraTab.classList.add("fade");
       prisustvaClanovaUpravnogOdboraTab.classList.add("in");
       prisustvaClanovaUpravnogOdboraTab.classList.add("active");
       var odlukeUpravnogOdboraTab = document.getElementById("odlukeUpravnogOdboraTab");
       odlukeUpravnogOdboraTab.classList.add("tab-pane");
       odlukeUpravnogOdboraTab.classList.add("fade");

    }
    else{

       var odlukeUpravnogOdbora = document.getElementById("odlukeUpravnogOdbora");
       odlukeUpravnogOdbora.classList.add("active");
       var odlukeUpravnogOdboraTab = document.getElementById("odlukeUpravnogOdboraTab");
       odlukeUpravnogOdboraTab.classList.add("tab-pane");
       odlukeUpravnogOdboraTab.classList.add("fade");
       odlukeUpravnogOdboraTab.classList.add("in");
       odlukeUpravnogOdboraTab.classList.add("active");
       var prisustvaClanovaUpravnogOdboraTab = document.getElementById("prisustvaClanovaUpravnogOdboraTab");
       prisustvaClanovaUpravnogOdboraTab.classList.add("tab-pane");
       prisustvaClanovaUpravnogOdboraTab.classList.add("fade");

    }

</script>

<div id="modalUrediSjednicu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka sjednice</h4>
            </div>

            <div class="modal-body" id="formaUredi">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


