<ul class="sidebar-menu" data-widget="tree">
    <li>
        <br />
    </li>
    
    <li class="header">Navigacija</li>
    <li class="active">
        <a href="/ModulAdministrator/Home/Index"><i class="fa fa-home" style="font-size:15px;"></i><span style="font-size:15px;">Početna</span></a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users" style="font-size:15px;"></i>
            <span style="font-size:15px;"> Korisnički nalozi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulAdministrator/KorisnickiNalozi/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users" style="font-size:15px;"></i>
            <i class="fa fa-spinner" style="font-size:15px;"></i>
            <span style="font-size:15px;"> Nalozi na čekanju</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulAdministrator/KorisnickiNalozi/PrikazNalogaNaCekanju" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>UpravljanjePodacima</a></li>
        </ul>
    </li>
</ul>