<ul class="sidebar-menu" data-widget="tree">
    <li>
        <br />
    </li>

    <li class="header">Navigacija</li>
    <li class="active">
        <a href="/ModulBlagajnik/Home/Index"><i class="fa fa-home" style="font-size:15px;"></i><span style="font-size:15px;">Početna</span></a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
            <span style="font-size:15px;">Članovi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeClanovimaKluba/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil" style="font-size:15px;"></i>
            <span style="font-size:15px;">Članarine</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeClanarinama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" aria-hidden="true"></i><i class="fa fa-sign-out" aria-hidden="true"></i>
            <span style="font-size:15px;">Izlazi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeIzlazima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart" style="font-size:15px;"></i>
            <span style="font-size:15px;">Narudžbe opreme</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/NarudzbeOpremeKluba/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pinterest-p" style="font-size:15px;"></i>
            <span style="font-size:15px;">Polaganja</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/PolaganjaUcenickaZvanja/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-registered" style="font-size:15px;"></i>
            <span style="font-size:15px;">Registracije</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeRegistracijama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-scribd" style="font-size:15px;"></i>
            <span style="font-size:15px;">Seminari</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/Seminari/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" style="font-size:15px;"></i>
            <span style="font-size:15px;">Sponzorstva i donacije</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeSponzorstvimaDonacijama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-trophy" style="font-size:15px;"></i>
            <span style="font-size:15px;">Takmičenja</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/Takmicenja/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" aria-hidden="true"></i><i class="fa fa-sign-in" aria-hidden="true"></i>
            <span style="font-size:15px;">Ulazi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeUlazima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-log-in " style="font-size:15px;"></i>
            <span style="font-size:15px;">Upisi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeUpisima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-credit-card " style="font-size:15px;"></i>
            <span style="font-size:15px;">Uplate</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulBlagajnik/UpravljanjeUplatama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>



</ul>
