<ul class="sidebar-menu" data-widget="tree">
    <li>
        <br />
    </li>

    <li class="header">Navigacija</li>
    <li class="active">
        <a href="/ModulSekretar/Home/Index"><i class="fa fa-home" style="font-size:15px;"></i><span style="font-size:15px;">Početna</span></a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
            <span style="font-size:15px;">Članovi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeClanovimaKluba/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil" style="font-size:15px;"></i>
            <span style="font-size:15px;">Članarine</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeClanarinama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-log-out " style="font-size:15px;"></i>
            <span style="font-size:15px;">Ispisi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/Ispisi/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" aria-hidden="true"></i><i class="fa fa-sign-out" aria-hidden="true"></i>
            <span style="font-size:15px;">Izlazi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeIzlazima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-bag" style="font-size:15px;"></i>
            <span style="font-size:15px;">Klubska oprema</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeOpremomKluba/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-drivers-license-o" style="font-size:15px;"></i>
            <span style="font-size:15px;">Licence</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/SteceneLicence/Index3" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            <span style="font-size:15px;">Osoblje kluba</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeUposlenicima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pinterest-p" style="font-size:15px;"></i>
            <span style="font-size:15px;">Polaganja i stečena zvanja</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjePolaganjimaStecenimZvanjima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book" style="font-size:15px;"></i>
            <span style="font-size:15px;">Protokol</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeProtokolima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-registered" style="font-size:15px;"></i>
            <span style="font-size:15px;">Registracije</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeRegistracijama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-scribd" style="font-size:15px;"></i>
            <span style="font-size:15px;">Seminari</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/Seminari/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" style="font-size:15px;"></i>
            <span style="font-size:15px;">Sponzorstva i donacije</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeSponzorstvimaDonacijama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-trophy" style="font-size:15px;"></i>
            <span style="font-size:15px;">Takmičenja i takmičari</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeTakmicenjimaTakmicarima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-money" aria-hidden="true"></i><i class="fa fa-sign-in" aria-hidden="true"></i>
            <span style="font-size:15px;">Ulazi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeUlazima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>
 

    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-log-in " style="font-size:15px;"></i>
            <span style="font-size:15px;">Upisi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeUpisima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-credit-card " style="font-size:15px;"></i>
            <span style="font-size:15px;">Uplate</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeUplatama/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-users" style="font-size:15px;"></i>
            <span style="font-size:15px;">Upravni odbor</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulSekretar/UpravljanjeUpravnimOdborom/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>

        </ul>

    </li>
</ul>