<ul class="sidebar-menu" data-widget="tree">
    <li>
        <br />
    </li>

    <li class="header">Navigacija</li>
    <li class="active">
        <a href="/ModulTrener/Home/Index"><i class="fa fa-home" style="font-size:15px;"></i><span style="font-size:15px;">Početna</span></a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
            <span style="font-size:15px;">Članovi</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulTrener/UpravljanjeClanovimaKluba/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-drivers-license-o" style="font-size:15px;"></i>
            <span style="font-size:15px;">Licence</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulTrener/SteceneLicence/Index3" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-pinterest-p" style="font-size:15px;"></i>
            <span style="font-size:15px;">Polaganja i stečena zvanja</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulTrener/UpravljanjePolaganjimaStecenimZvanjima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>



    <li class="treeview">
        <a href="#">
            <i class="fa fa-scribd" style="font-size:15px;"></i>
            <span style="font-size:15px;">Seminari</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulTrener/Seminari/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-trophy" style="font-size:15px;"></i>
            <span style="font-size:15px;">Takmičenja i takmičari</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="/ModulTrener/UpravljanjeTakmicenjimaTakmicarima/Index" style="font-size:13px;margin-left:15px;"><i class="fa fa-cog"></i>Upravljanje podacima</a></li>
        </ul>
    </li>




</ul>
