@model KarateKlub.Web.Areas.ModulSekretar.Models.LjekarskiPreglediTakmicaraIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models

@{
    ViewBag.PageTitle = "Ljekarski pregledi";
    ViewBag.Title = "Ljekarski pregledi takmičara "+@Model.Takmicar;
    Layout = null;
    int aktivnost = (int)ViewData["aktivnost"];

}

<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }

    .poravnanje2 {
        width: 200px;
        margin-left: 5px;
        display: inline-block;
    }
</style>


<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaLjekarskiPregledi">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Datum pregleda</th>
                                        <th>Dijagnoza</th>
                                        <th>Doktor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (LjekarskiPreglediTakmicaraPodaci x in Model.ljekarskiPregledi)
                                    {

                                        <tr id="rowLjekarskiPregledId_@x.Id">
                                            <td>@x.DatumLjekarskogPregleda.ToString("dd.MM.yyyy")</td>
                                            <td>@x.Dijagnoza</td>
                                            <td>@x.Doktor</td>
                                           
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">
                                                   
                                                    @using (Ajax.BeginForm("Uredi", "LjekarskiPreglediTakmicara", new { ljekarskiPregledId = x.Id, aktivnost = aktivnost }, new AjaxOptions { UpdateTargetId = "formaUrediLjekarskiPregled" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediLjekarskiPregled" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeLjekarskogPregleda(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijLjekarskiPregledId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />

                    <div style="text-align:center;">
                        @using (Ajax.BeginForm("Dodaj", "LjekarskiPreglediTakmicara", new { takmicarId = Model.takmicarId, aktivnost = aktivnost }, new AjaxOptions { UpdateTargetId = "formaDodajLjekarskiPregled" }, new { @class = "poravnanje2" }))
                        {

                            <button type="submit" class="btn-lg btn btn-primary poravnanje2" title="Dodaj ljekarski pregled" data-toggle="modal" data-target="#modalDodajLjekarskiPregled" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span><span class="fa fa-stethoscope" aria-hidden="true"></span>Dodaj pregled</button>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaLjekarskiPregledi').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [3],
                'orderable': false
            }, {
                'targets': [0, 1, 2, 3],
                'width': '20%'
    }
            ]


        })

    });
</script>

<div id="modalDodajLjekarskiPregled" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Novi ljekarski pregled</h4>
            </div>

            <div class="modal-body" id="formaDodajLjekarskiPregled">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div id="modalUrediLjekarskiPregled" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka ljekarskog pregleda</h4>
            </div>

            <div class="modal-body" id="formaUrediLjekarskiPregled">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeLjekarskogPregleda">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši ljekarski pregled</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati ljekarski pregled takmičara? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiLjekarskiPregled()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalDodajLjekarskiPregled').on('hidden.bs.modal', function () { $('#formaDodajLjekarskiPregled').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalUrediLjekarskiPregled').on('hidden.bs.modal', function () { $('#formaUrediLjekarskiPregled').empty(); });
    });
</script>
<script>
    var PotvrdiBrisanjeLjekarskogPregleda = function (Id) {

        $("#sakrijLjekarskiPregledId").val(Id);
        $("#modalPorukaZaBrisanjeLjekarskogPregleda").modal('show');

    }

    var ObrisiLjekarskiPregled = function () {

        $("#divUcitavanje").show();

        var ljekarskiPregledId = $("#sakrijLjekarskiPregledId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/LjekarskiPreglediTakmicara/Obrisi",
            data: { ljekarskiPregledId: ljekarskiPregledId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeLjekarskogPregleda").modal("hide");
                $("#rowLjekarskiPregledId_" + ljekarskiPregledId).remove();

            }

        })

    }
</script>


