@{
    ViewBag.PageTitle = "Opcije";
    ViewBag.Title = "Opcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <div class="icon-grid">
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulTrener/UpravljanjeClanovimaKluba/Index" style="display:block;text-align:center;" id="1" title="Članovi"><i class="fa fa-user fa-5x" aria-hidden="true"></i><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulTrener/UpravljanjeClanovimaKluba/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Članovi
            </a>
        </div>
     
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulTrener/SteceneLicence/Index3" style="display:block;text-align:center;" id="2" title="Licence"><i class="fa fa-drivers-license-o fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulTrener/SteceneLicence/Index3" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Licence
            </a>
        </div>
 
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulTrener/UpravljanjePolaganjimaStecenimZvanjima/Index" style="display:block;text-align:center;" id="3" title="Polaganja i stečena zvanja"><i class="fa fa-pinterest-p fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulTrener/UpravljanjePolaganjimaStecenimZvanjima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Polaganja i stečena zvanja
            </a>
        </div>
  
   
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulTrener/Seminari/Index" style="display:block;text-align:center;" id="4" title="Seminari"><i class="fa fa-scribd fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulTrener/Seminari/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Seminari
            </a>
        </div>
       
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulTrener/UpravljanjeTakmicenjimaTakmicarima/Index" style="display:block;text-align:center;" id="5" title="Takmičenja i takmičari"><i class="fa fa-trophy fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulTrener/UpravljanjeTakmicenjimaTakmicarima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Takmičenja i takmičari
            </a>
        </div>
       
       
   

    </div>
</div>





