@{
    ViewBag.PageTitle = "Opcije";
    ViewBag.Title = "Opcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <div class="icon-grid">
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeClanovimaKluba/Index" style="display:block;text-align:center;" id="1" title="Članovi"><i class="fa fa-user fa-5x" aria-hidden="true"></i><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeClanovimaKluba/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Članovi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeClanarinama/Index" style="display:block;text-align:center;" id="2" title="Članarine"><i class="fa fa-pencil fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeClanarinama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Članarine
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/Ispisi/Index" style="display:block;text-align:center;" id="3" title="Ispisi"><i class="glyphicon glyphicon-log-out fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/Ispisi/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Ispisi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeIzlazima/Index" style="display:block;text-align:center;" id="4" title="Izlazi"><i class="fa fa-sign-out fa-5x" aria-hidden="true"></i><i class="fa fa-money fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeIzlazima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Izlazi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeOpremomKluba/Index" style="display:block;text-align:center;" id="5" title="Klubska oprema"><i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeOpremomKluba/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Klubska oprema
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/SteceneLicence/Index3" style="display:block;text-align:center;" id="6" title="Licence"><i class="fa fa-drivers-license-o fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/SteceneLicence/Index3" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Licence
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeUposlenicima/Index" style="display:block;text-align:center;" id="7" title="Osoblje kluba">
                <i class="glyphicon glyphicon-user fa-5x" aria-hidden="true"></i>
                <i class="glyphicon glyphicon-user fa-5x" aria-hidden="true"></i>
            </a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeUposlenicima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Osoblje kluba
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulSekretar/UpravljanjePolaganjimaStecenimZvanjima/Index" style="display:block;text-align:center;" id="8" title="Polaganja i stečena zvanja"><i class="fa fa-pinterest-p fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulSekretar/UpravljanjePolaganjimaStecenimZvanjima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Polaganja i stečena zvanja
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulSekretar/UpravljanjeProtokolima/Index" style="display:block;text-align:center;" title="Protokol"><i class="fa fa-book fa-5x" id="9" title="Protokol" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulSekretar/UpravljanjeProtokolima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Protokol
                </a>
            </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeRegistracijama/Index" style="display:block;text-align:center;" id="10" title="Registracije"><i class="fa fa-registered fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeRegistracijama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Registracije
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/Seminari/Index" style="display:block;text-align:center;" id="11" title="Seminari"><i class="fa fa-scribd fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/Seminari/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Seminari
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeSponzorstvimaDonacijama/Index" style="display:block;text-align:center;" id="12" title="Sponzorstva i donacije"><i class="fa fa-money fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeSponzorstvimaDonacijama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Sponzorstva i donacije
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeTakmicenjimaTakmicarima/Index" style="display:block;text-align:center;" id="13" title="Takmičenja i takmičari"><i class="fa fa-trophy fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeTakmicenjimaTakmicarima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Takmičenja i takmičari
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeUlazima/Index" style="display:block;text-align:center;" id="14" title="Ulazi"><i class="fa fa-money fa-5x" aria-hidden="true"></i><i class="fa fa-sign-in fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeUlazima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Ulazi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeUpisima/Index" style="display:block;text-align:center;" id="15" title="Upisi"><i class="glyphicon glyphicon-log-in fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeUpisima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Upisi
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulSekretar/UpravljanjeUplatama/Index" style="display:block;text-align:center;" id="16" title="Uplate"><i class="fa fa-credit-card fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulSekretar/UpravljanjeUplatama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Uplate
            </a>
        </div>

            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulSekretar/UpravljanjeUpravnimOdborom/Index" style="display:block;text-align:center;" id="17" title="Upravni odbor"><i class="fa fa-user fa-3x" aria-hidden="true"></i><i class="fa fa-user fa-5x" aria-hidden="true"></i><i class="fa fa-user fa-3x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulSekretar/UpravljanjeUpravnimOdborom/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Upravni odbor
                </a>
            </div>
      
    </div>
</div>





