@model KarateKlub.Web.Areas.ModulSekretar.Models.ClanarineIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Članarine";
    ViewBag.Title = "Članarine";
    Layout = null;
}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }

    .poravnanje2 {
        width: 200px;
        margin-left: 5px;
        display: inline-block;
    }
</style>

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaClanarine">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Vremenski period</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ClanarinaPodaci x in Model.clanarine)
                                    {

                                        <tr id="rowClanarinaId_@x.Id">
                                            <td>@x.Naziv</td>
                                            <td>@x.DatumOd.ToString("dd.MM.yyyy")-@x.DatumDo.ToString("dd.MM.yyyy")</td>
                                            
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">
                                                    @using (Html.BeginForm("Index", "StavkeClanarine", new { clanarinaId=x.Id, izmirena=0 }, FormMethod.Post, new { @class = "poravnanje" }))
                                                    {
                                                        <button type="submit" title="Stavke članarine" class="btn-lg btn btn-primary poravnanje"><span class="fa fa-file-text-o" aria-hidden="true"></span> </button>

                                                    }
                                                    @using (Ajax.BeginForm("Uredi", "Clanarine", new { clanarinaId = x.Id}, new AjaxOptions { UpdateTargetId = "formaUrediClanarinu" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediClanarinu" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeClanarine(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijClanarinaId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />
                    @using (Ajax.BeginForm("Dodaj", "Clanarine", new { }, new AjaxOptions { UpdateTargetId = "formaDodajClanarinu" }))
                    {

                        <div style="text-align:center;">
                            <button type="submit" class="btn-lg btn btn-primary" title="Dodaj članarinu" data-toggle="modal" data-target="#modalDodajClanarinu" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span><span class="fa fa-pencil" aria-hidden="true"></span> Dodaj članarinu</button>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#tabelaClanarine').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [2],
                'orderable': false
            },
            {
                'targets': [0, 1, 2],
                'width': '40%'
            }
            ]


        })

    });
</script>


<div id="modalUrediClanarinu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka članarine</h4>
            </div>
             
            <div class="modal-body" id="formaUrediClanarinu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajClanarinu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Nova članarina</h4>
            </div>

            <div class="modal-body" id="formaDodajClanarinu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeClanarine">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši članarinu</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati članarinu? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiClanarinu()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalDodajClanarinu').on('hidden.bs.modal', function () { $('#formaDodajClanarinu').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalUrediClanarinu').on('hidden.bs.modal', function () { $('#formaUrediClanarinu').empty(); });
    });
</script>

<script>
    var PotvrdiBrisanjeClanarine = function (Id) {

        $("#sakrijClanarinaId").val(Id);
        $("#modalPorukaZaBrisanjeClanarine").modal('show');

    }

    var ObrisiClanarinu = function () {

        $("#divUcitavanje").show();

        var clanarinaId = $("#sakrijClanarinaId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/Clanarine/Obrisi",
            data: { clanarinaId: clanarinaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeClanarine").modal("hide");
                $("#rowClanarinaId_" + clanarinaId).remove();
            }

        })

    }


</script>









