<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x.karateklub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Karate klub"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TemaZaApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".area_autentifikacija.LoginActivity"
            android:theme="@style/TemaZaApp.NoActionBar" />
        <activity
            android:name=".area_clan.MainClanActivity"
            android:label="@string/title_activity_glavni"
            android:theme="@style/TemaZaApp.NoActionBar" />
        <activity android:name=".area_clan.fragment.ClanarineClanTabActivity" />
        <activity
            android:name=".area_blagajnik.MainBlagajnikActivity"
            android:label="@string/title_activity_glavni"
            android:theme="@style/TemaZaApp.NoActionBar"></activity>
        <activity android:name=".area_trener.MainTrenerActivity"
            android:label="@string/title_activity_glavni"
            android:theme="@style/TemaZaApp.NoActionBar"
            ></activity>

    </application>

</manifest>