@{
    ViewBag.PageTitle = "Opcije";
    ViewBag.Title = "Opcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <div class="icon-grid">
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeClanovimaKluba/Index" style="display:block;text-align:center;" id="1" title="Članovi"><i class="fa fa-user fa-5x" aria-hidden="true"></i><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeClanovimaKluba/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Članovi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeClanarinama/Index" style="display:block;text-align:center;" id="2" title="Članarine"><i class="fa fa-pencil fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeClanarinama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Članarine
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeIzlazima/Index" style="display:block;text-align:center;" id="3" title="Izlazi"><i class="fa fa-sign-out fa-5x" aria-hidden="true"></i><i class="fa fa-money fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeIzlazima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Izlazi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/NarudzbeOpremeKluba/Index" style="display:block;text-align:center;" id="4" title="Narudžbe opreme"><i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/NarudzbeOpremeKluba/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Narudžbe opreme
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/PolaganjaUcenickaZvanja/Index" style="display:block;text-align:center;" id="5" title="Polaganja"><i class="fa fa-pinterest-p fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/PolaganjaUcenickaZvanja/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Polaganja
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeRegistracijama/Index" style="display:block;text-align:center;" id="6" title="Registracije"><i class="fa fa-registered fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeRegistracijama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Registracije
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/Seminari/Index" style="display:block;text-align:center;" id="7" title="Seminari"><i class="fa fa-scribd fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/Seminari/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Seminari
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeSponzorstvimaDonacijama/Index" style="display:block;text-align:center;" id="8" title="Sponzorstva i donacije"><i class="fa fa-money fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeSponzorstvimaDonacijama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Sponzorstva i donacije
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/Takmicenja/Index" style="display:block;text-align:center;" id="9" title="Takmičenja"><i class="fa fa-trophy fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/Takmicenja/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Takmičenja
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeUlazima/Index" style="display:block;text-align:center;" id="10" title="Ulazi"><i class="fa fa-money fa-5x" aria-hidden="true"></i><i class="fa fa-sign-in fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeUlazima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Ulazi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeUpisima/Index" style="display:block;text-align:center;" id="11" title="Upisi"><i class="glyphicon glyphicon-log-in fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeUpisima/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Upisi
            </a>
        </div>
      
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulBlagajnik/UpravljanjeUplatama/Index" style="display:block;text-align:center;" id="12" title="Uplate"><i class="fa fa-credit-card fa-5x" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulBlagajnik/UpravljanjeUplatama/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Uplate
            </a>
        </div>
       
     
    </div>
</div>





