@{
    ViewBag.PageTitle = "Opcije";
    ViewBag.Title = "Opcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="panel-body">
    <div class="icon-grid">
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulAdministrator/KorisnickiNalozi/Index" style="display:block;text-align:center;"><i class="fa fa-users fa-5x" id="1" title="Korisnički nalozi" aria-hidden="true"></i></a>
            <hr style="border-color:white;" />
            <a href="/ModulAdministrator/KorisnickiNalozi/Index" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Korisnički nalozi
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
            <a href="/ModulAdministrator/KorisnickiNalozi/PrikazNalogaNaCekanju" style="display:block;text-align:center;" title="Korinički nalozi na čekanju">
                <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                <i class="fa fa-spinner fa-5x" aria-hidden="true"></i>
            </a>
             <hr style="border-color:white;" />
            <a href="/ModulAdministrator/KorisnickiNalozi/PrikazNalogaNaCekanju" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                Korisnički nalozi na čekanju
            </a>
           
        </div>
    </div>
</div>






